doctype html
html
    head 
        title Index Page
    body
        // JADE String
        #header
            h1 Hello jade .. !
            h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. In, unde beatae? Minus explicabo deleniti voluptate nesciunt labore eligendi animi maiores, doloribus sunt asperiores libero dolorum iure maxime neque nulla est?
        hr
        .article
            a(href="http://hanbit.co.kr", data-test="multiple Attribute") Go To Hanbit Media
